<div>
    <canvas id="myChart"></canvas>
</div>


<script>
    ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{%for record in records%}'{{record.time}}',{%endfor%}],
            datasets: [{
                label: 'Velocity x',
                data: [{%for record in records%}'{{record.accel_x}}',{%endfor%}],
                borderWidth: 1
            },
                {
                    label: 'Velocity y',
                    data: [{%for record in records%}'{{record.accel_y}}',{%endfor%}],
                    borderWidth: 1
                },
                {
                    label: 'Velocity z',
                    data: [{%for record in records%}'{{record.accel_z}}',{%endfor%}],
                    borderWidth: 1
                }]
        },
        options: {
            responsive: true,
            fill: false,
            interaction: {
                intersect: false
            },
            radius: 0,
        }
    });
</script>



