{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'alpinejscollapse.min.js' %}" defer></script>
    <script src="{% static 'alpinejs.min.js' %}" defer></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
<div id="app" x-data="{selected: 1}" class="flex h-screen w-full flex-col overflow-hidden">
    <nav class="flex justify-center fixed items-center h-24 md:h-12 md:text-lg text-xl w-full border-b-2 border-solid border-gray-500 bg-gray-800 text-white">
        <div class="flex select-none items-stretch justify-center">
            <a x-cloak href="#" hx-get="home_page" hx-target="#content_container"
               x-show.important="selected != 1" x-on:click="selected = 1"
               class=" border-b-2 border-solid border-gray-500 px-4 hover:border-white">
                Home</a>
            <a x-cloak x-show.important="selected == 1"
               class="border-b-2 border-solid border-white px-4">
                Home</a>

            {% if request.user.is_authenticated %}

                <a x-cloak x-show.important="selected != 2" x-on:click="selected = 2"
                   hx-get="statistics" hx-trigger="click" hx-target="#content_container"
                   class="border-b-2 border-solid border-gray-500 px-4 hover:pointer hover:border-white">
                    Statistics</a>
                <a x-cloak x-show.important="selected == 2"
                   class="border-b-2 border-solid border-white px-4">
                    Statistics</a>

                <a x-cloak x-show="selected != 3" x-on:click="selected = 3"
                   hx-get="settings" hx-trigger="click" hx-target="#content_container"
                   class="border-b-2 border-solid border-gray-500 px-4 hover:pointer hover:border-white">
                    Settings</a>
                <a x-cloak x-show="selected == 3"
                   class="border-b-2 border-solid border-white px-4">
                    Settings</a>

                <a x-cloak href="logout"
                   x-show="selected != 4" x-on:click="selected = 4"
                   class="border-b-2 border-solid border-gray-500 px-4 hover:border-white">
                    Logout</a>
                <a x-cloak x-show="selected == 4"
                   class="border-b-2 border-solid border-white px-4">
                    Logout</a>

            {% else %}

                <a x-cloak x-show="selected != 5" x-on:click="selected = 5"
                   class="border-b-2 border-solid border-gray-500 px-4 hover:pointer hover:border-white">
                    Login</a>
                <a x-cloak x-show="selected == 5" x-on:click="selected = 1"
                   class="border-b-2 border-solid border-white px-4 hover:pointer">
                    Login</a>
                <a x-cloak x-show="selected != 6" x-on:click="selected = 6"
                   class="border-b-2 border-solid border-gray-500 px-4 hover:pointer hover:border-white">
                    Register</a>
                <a x-cloak x-show="selected == 6" x-on:click="selected = 1"
                   class="border-b-2 border-solid border-white px-4 hover:pointer">
                    Register</a>

            {% endif %}
        </div>
    </nav>
    {% if not request.user.is_authenticated %}
        <div id="login_form" x-cloak x-show="selected == 5" hx-get="login" hx-trigger="load"
             x-collapse.duration.500ms class="fixed mt-24 lg:mt-12 w-full">
        </div>
        <div id="register" x-cloak x-show="selected == 6" hx-get="register" hx-trigger="load"
             x-collapse.duration.500ms class="fixed mt-24 lg:mt-12 w-full">
        </div>
    {% endif %}

    <div class="flex flex-grow flex-col overflow-hidden bg-zinc-200 lg:pt-24 lg:pt-12" hx-get="/home_page" hx-trigger="load"
         id="content_container">
    </div>
</div>


</body>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</html>