<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="grid place-items-center border-b-2 border-solid border-gray-300 bg-gray-800">
    <form class="mb-4 rounded px-8 pt-8 pb-8 shadow-md"
          hx-post="/register"
          hx-target="#reg_message">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <label class="text-white">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <div class="grid place-items-center">
                <input class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:shadow-outline focus:outline-none"
                       type="submit" value="Register">
            </div>
        </fieldset>
        <div id="reg_message" class="text-white"></div>
    </form>
</div>

</body>
</html>