<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<div class="flex flex-row w-full h-screen">
    <div class="h-full w-64 bg-gray-800 text-white">
        <nav x-data="{selected: 1}">
            <a x-cloak href="#" hx-get="personal_settings" hx-target="#settings_container"
               x-show="selected != 1" x-on:click="selected = 1"
               class="block p-3 hover:bg-gray-700 text-white border border-white">
                Personal</a>
            <a x-cloak x-show="selected == 1"
               class="block p-3 bg-gray-700 text-white border border-white">
                Personal</a>

        </nav>
    </div>
    <div hx-get="personal_settings" hx-trigger="load" id="settings_container" class="flex-grow overflow-auto">

    </div>
</div>


</body>
</html>